<nav class="navbar navbar-light navbar-expand-md bg-dark fixed-top mb-5">
    <div class="customer_header">
      <%= link_to "生鮮加工注文アプリ", top_show_path, id: "logo", class: "navbar-brand text-white font-weight-bold" %>
    </div>

    <% if logged_in? %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#responsiveMenu" aria-controls="responsiveMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon navbar-toggler-icon-white"></span>
      </button>
       <div class="customer_header collapse navbar-collapse" id="responsiveMenu">
          <ul class="custom_header navbar-nav mr-auto">
            <li class="nav-item"><%= link_to "お買い物かご", "#", class:'nav-link text-white mr-3' %></li>
            <li class="nav-item"><%= link_to "マイページ", customer_user_path(current_user), class:'nav-link text-white mr-3' %></li>
            <li class="nav-item"><%= link_to "ログアウト", logout_path, method: :delete, class:'nav-link text-white mr-3' %></li>
          </ul>
      </div>   
    <% else %>
      <div class="customer_header">
          <ul class="nav navbar-nav navbar-right">
            <li class="custom_header"><%= link_to "ログイン", login_url %></li>
          </ul>
      </div>
    <% end %>
</nav>

 <% flash.each do |message_type, message| %>
   <div class="alert alert-<%= message_type %>mt-5"><%= message %></div>
 <% end %>
