<nav class="navbar navbar-light navbar-expand-md bg-dark">
  <a class="navbar-brand text-white font-weight-bold" href="./index.html">
      生鮮加工注文アプリ
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#responsiveMenu" aria-controls="responsiveMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="responsiveMenu">
     <!--中央サイド-->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link text-white mr-3" href="./index.html">販売ページ</a>
          </li>
          <li class="nav-item">
            <%= link_to '会員管理',  employee_users_path, class:'nav-link text-white mr-3' %>
          </li>
          <li class="nav-item">
            <%= link_to '商品一覧',  employee_items_path, class:'nav-link text-white mr-3' %>
          </li>
          <li class="nav-item">
             <%= link_to '本日店頭商品',  employee_products_path, class:'nav-link text-white mr-3' %>
          </li>
           <li class="nav-item">
            <%= link_to '注文状況', employee_orders_path, class: 'nav-link text-white mr-3' %>
          </li>
      </ul>
      <!--右サイド-->
       <ul class="navbar-nav mr-right">
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            会員メニュー
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">会員ページ</a>
            <a class="dropdown-item" href="#">ログアウト</a>
          </div>
        </li>
      </ul>
  </div>
</nav>
 <% flash.each do |message_type, message| %>
   <div class="alert alert-<%= message_type %>"><%= message %></div>
 <% end %>