<table class="table baskets-edit-table">
  <tbody class="text-center">
    <tr>
      <td class="border-0 align-middle"><%= image_tag(employee_item_image_path(@item.id), width:'100px') %></td>
      <td class="border-0 align-middle"><div><%= @item.name %>　価格<%= @product.price %>円</div>
      　　 <div><%= @item.info %></div>
      </td>
    </tr>
    <% @process.each do |process| %>
    <tr>
      <td><%= basketProcessProcessing(process.name) %></td>
      <td><%= link_to 'お買い物カゴへ', customer_baskets_path(id: @user.id, name: @item.name, process: process.name), class:"btn btn-outline-primary", method: :post %></td>
    
    </tr>
    <% end %>
    <tr>
      <td colspan="2">
      <%= link_to '戻るボタン', customer_user_path(@user), class:"btn btn-primary" %>
      </td>
    </tr>
  </tbody>
</table>
