<% if orders.count >0 %>  
 
  <p class="text-success font-weight-bold mt-3">状況変更する場合は各注文リストのボタンおしてください。</p>
  <table class="table table-bordered ">
    <thead>
      <tr>
        <th rowspan="2" class="bg-dark text-white font-weight-bold text-center align-middle">
          受け取り時間<br>(早い順)
        </th>
        <th rowspan="2" class="bg-dark text-white font-weight-bold text-center align-middle">商品名</th>
        <th rowspan="2" class="bg-dark text-white font-weight-bold text-center align-middle">お客様名</th>
        <th colspan="4" class="bg-dark text-white font-weight-bold text-center align-middle">商品情報</th>
      </tr>
      <tr>
        <th class="bg-dark text-white font-weight-bold text-center">価格</th>
        <th class="bg-dark text-white font-weight-bold text-center">注文数</th>
        <th class="bg-dark text-white font-weight-bold text-center">合計</th>
        <th class="bg-dark text-white font-weight-bold text-center">依頼加工</th>
      </tr>
      
    </thead>  
    <tbody>
    <% orders.each do |order| %>
      <tr>
        <td class="text-center align-middle ">
          <h4 class="font-weight-bold"><%= l order.order_time, format: :tim %>
          <%= link_to I18n.t("enums.order.status.#{order.status}"), edit_employee_order_path(order), remote: true, class:"#{order.orderStatusView} ml-3" %>
        </td></h4>
        <td class="text-center align-middle"><%= order.name %></td>
        <td class="text-center font-weight-bold align-middle">
           <%= link_to order.user.name, employee_order_path(order.user),remote: true %>
        </td>
        <td class="text-center align-middle"><%= order.price %></td>
        <td class="text-center align-middle"><%= order.num %></td>
        <td class="text-center align-middle"><%= order.total %></td>
         <td class="text-center align-middle"><%= order.process %></td>
      </tr>
      
    <% end %>
    </tbody>
  </table>
 <% else %> 
   <div class="p-5 bg-secondary text-center text-white font-weight-bold">まだ注文がありません。</div>
 <% end %>