 <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div style="margin:0 auto">
          <h5 class="modal-title ml-2" id="label1">
            <%= "#{@user.name}さん注文状況" %>
          </h5>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!--body -->
      <div class="modal-body">
        <% @user.todayOrder.each do |order| %>
         <div class="text-center"><h4><%="【#{order.name}】の注文状況" %></h4></div>
         <table class="table table-bordered mb-5">
          <tbody>
            <tr>
              <th class="bg-dark text-white text-center font-weight-bold">商品名</th>
              <td class="font-weight-bold text-center w-50"><%= order.name %></td>
            <tr>
            <tr>
              <th class="bg-dark text-white text-center font-weight-bold">価格(単価)</th>
              <td class="font-weight-bold text-center w-50 text-danger"><%= order.price %></td>
            </tr>

             <tr>
              <th class="bg-dark text-white text-center font-weight-bold">加工法</th>
              <td class="font-weight-bold text-center w-50"><%= order.process %></td>
            </tr>

            <tr>
              <th class="bg-dark text-white text-center font-weight-bold">受け取り時間</th>
              <td class="font-weight-bold text-center w-50"><%= l order.order_time, format: :tim %></td>
            </tr>

             <tr>
              <th class="bg-dark text-white text-center font-weight-bold align-middle">状況</th>
              <td class="font-weight-bold text-center w-50  ">
              　<div class="<%= order.orderStatusView %>"><%= I18n.t("enums.order.status.#{order.status}")  %></div>
              </td>
            </tr>
        
          </tbody>
         </table>
        <% end %>
      </div>
      
    </div>
  </div>