<div class="col-md-10 offset-1">
  <div class="user_info">
    <h2 class="center">お客様情報確認</h2>
    <h4 class="center">ご登録いただいている内容は、以下の通りです。</h4>
      <div class="col-md-8 offset-2">
        <table class="info_detail">
          <tr>
            <td>お名前</td>       
            <td><%= @user.name %> 様</td>
          </tr>
          <tr>
            <td>お名前（カナ）</td>
            <td><%= @user.name_kana%> 様</td>
          </tr>
          <tr>
            <td>電話番号</td>      
            <td><%= @user.tellnumber%></td>
          </tr>
          <tr>
            <td>メールアドレス</td> 
            <td><%= @user.email%></td>
          </tr>
        </table>
      </div>
      <div class="center">
        <%= link_to "変更する", edit_customer_user_path, class: "btn btn-info" %>
      </div>
  </div>

  <div class="current_orders">
    <h1 class="center">現在受付中のご注文</h1>
    
    <% @order_in_order.each do |key, orders| %>
    <% total_sum = 0 %>
      <h2><%= key.strftime('%Y年%-m月%-d日') %></h2>
      <div>希望の受け取り時間： <%= key.strftime('%-H:%-M') %>
        <table class="table">
              <thead>
                <tr>
                  <td colspan="2">商品名</td>
                  <td>単価</td>
                  <td>数量</td>
                  <td>小計</td>
                </tr>
              </thead>
              <tbody>
              <% orders.each do |order| %>
                <tr>
                  <td><%= image_tag(employee_item_image_path(order.orderShowIntoItemImage), width:'40px') %></td>
                  <td><%= order.name %></td>
                  <td><%= order.price %></td>
                  <td><%= order.num %></td>
                  <td><%= product_sum = order.orderShowProductSum %></td>
                </tr>
                <% total_sum += product_sum %>
              <% end %>
              <tr>
                <td colspan="5"><div class="text-right">ご請求小計： <%= total_sum %> 円</td>
              </tr>
            </tbody>
          </table>
    <% end %>

  </div>

  <div class="history_orders">
    <h1 class="center">ご注文履歴</h1>
  </div>
</div>
