<% provide(:title, @user.name) %>

<div class="employee_showpage">
  <div class="col-md-10 offset-1">
    <div class="user_info">
      <h1 class="center">従業員情報確認</h1>
      <h4 class="center">ご登録いただいている内容は、以下の通りです。</h4>
        <div class="col-md-8 offset-2">
          <table class="info_detail">
            <tr>
              <td>お名前</td>       
              <td><%= @user.name %> 様</td>
            </tr>
            <tr>
              <td>お名前（カナ）</td>
              <td><%= @user.name_kana%> 様</td>
            </tr>
            <tr>
              <td>電話番号</td>      
              <td><%= @user.tellnumber%></td>
            </tr>
            <tr>
              <td>メールアドレス</td> 
              <td><%= @user.email%></td>
            </tr>
          </table>
        </div>
        <div class="center">
          <%= link_to "変更する", edit_employee_user_path, class: "btn btn-info" %>
        </div>
    </div>