<div class="text-center font-weight-bold mt-4 mb-2"><h1>お客様一覧</h1></div>

<% if customers.count >0 %>  
<div class="bg-white p-4 mb-5 w-100">
  <table class="table table-bordered w-100">
    <tbody>
      <% customers.each do |customer| %>
      <h5><%= "【お客様名:#{customer.name}】" %></h5>
      <table class="table table-bordered mb-3 w-100">
        <tr>
         <tr>
             <th rowspan="5" class="bg-primary text-white font-weight-bold text-center  align-middle">お客様名</th>
         </tr>

         <tr>
           <th class="bg-primary text-white font-weight-bold text-center">名前</th>
         </tr>

         <tr>
           <td class="font-weight-bold text-center"><%= customer.name %></td>
         </tr>

         <tr>
           <th class="bg-primary text-white font-weight-bold text-center">かな</th>
         </tr>

         <tr>
             <td class="font-weight-bold text-center"><%= customer.name_kana %></td>
         </tr>

         <tr>
           <th class="bg-primary text-white font-weight-bold text-center align-middle">メールアドレス</th>
            <td class="font-weight-bold text-center"><%= customer.email %></td>
         </tr>

         <tr>
            <th class="bg-primary text-white font-weight-bold text-center align-middle">電話番号</th>
             <td class="font-weight-bold text-center">
          　   <a href="tel:<%= customer.tellnumber %>"><%= customer.tellnumber %></a>
             </td>
         </tr>

          <tr>
            <td colspan="2">
              <%= link_to '削除', [:employee, customer], data:{confirm: '削除しますか？' }, method: :delete, id: "delete_customer_button#{customer.id}", class: 'btn btn-danger btn-block' %>
            </td>
          </tr>
        </tr>
       </table>
      <% end %>
    </tbody>
  </table>
</div>
 <% else %> 
   <div class="p-5 bg-secondary text-center text-white font-weight-bold">まだお客様が登録されてません。</div>
 <% end %>