<div class="container">
  <div class="row">
    <div class="col-md-12 shadow bg-light p-3">
       <%= link_to '商品追加', new_employee_product_path,  class: "btn btn-primary btn-lg" %>
       <%= link_to '編集', employee_products_change_index_path,  class: "btn btn-primary btn-lg" %>

       <% if products.count > 0%>
       <table class="table table-bordered mt-1">
        <thead>
          <tr>
            <th class="bg-dark text-white text-center font-weight-bold">商品名</th>
            <th class="bg-dark text-white text-center font-weight-bold">価格</th>
            <th class="bg-dark text-white text-center font-weight-bold">在庫</th>
            <th class="bg-dark text-white text-center font-weight-bold">合計金額</th>
              <th class="bg-dark text-white text-center font-weight-bold"></th>
          </tr>
        </thead>
        <tbody>
          <% products.each do |product| %>
            <tr>
              <td class="font-weight-bold text-center w-50">
                <%= product.name %><br>
                <%= product.createProcessTable %>
              </td>
              <td class="font-weight-bold text-center text-danger align-middle"><%= product.price %></td>
              <td class="font-weight-bold text-center align-middle"><%= product.stock %></td>
              <td class="font-weight-bold text-center align-middle"><%= product.total %></td>
              <td class ="align-middle">
                <%= link_to '削除', [:employee, product], 
                   data:{confirm: '削除してよろしいでしょうか？'},
                   method: :delete,
                   class: 'btn btn-danger btn-block btn-lg ',
                   id: "delete-product#{product.id}"
                %>
              </td>
            </tr>
          <% end %>
        </tbody>
       </table>
      <% else %>
        <div class="bg-secondary p-5 text-center text-white font-weight-bold">まだ店頭商品が登録されてません。</div>
      <% end %>
    </div>
  </div>
</div>