<div class="text-center font-weight-bold mt-3"><h1>お買い物カゴ</h1></div>
<table class="table baskets-table">
  <tbody>
    <tr>
      <td colspan="2">商品名</td>
      <td>加工名</td>
      <td>単価</td>
      <td></td>
      <td>数量</td>
      <td>小計</td>
    </tr>
    <% total_sum = 0 %>
    <% basket_array = 0 %>
    <%= form_with model: @baskets, url: customer_basket_path(@user.id), local: true, method: :patch do |f| %>
      <% @baskets.each do |basket| %>
      <%= f.fields_for 'basket[]', basket do |b| %>
      <% basket_array += 1 %>
      <%= basket.basketErrorCheck %>
        <tr>
          <td class="align-middle">
          <%= link_to customer_path(@user.id, basket.basketPageBack) do %>
            <%= image_tag(employee_item_image_path(basket.basketIntoItemImage), width:'40px') %>
          <% end %>
          </td>
          <td class="align-middle"><%= basket.name %></td>
          <td class="align-middle"><%= basket.basketProductProcessing %></td>
          <td class="align-middle"><%= basket.price.to_s(:delimited) %></td>
          <td class="align-middle"><%= link_to '削除', customer_basket_path(@user.id, basket_id: basket.id), class:'btn btn-danger btn-sm', method: :delete %></td>
          <td class="align-middle">
          <%= b.select :num, basket.basketStockProductNum, { selected: basket.num }, id:"basket-array#{basket_array}" %>
          </td>
          <% product_sum = basket.basketProductSum %>
          <td><%= product_sum.to_s(:delimited) %></td>
        </tr>
        <% total_sum += product_sum %>
        <%= b.hidden_field :b_id, :value => basket.id %>
        <%= b.hidden_field :name, :value => basket.name %>
      <% end %>
      <% end %>
    <tr>
      <td colspan="7"><div class="text-right">ご請求小計： <%= total_sum.to_s(:delimited) %> 円</div></td>
    </tr>
    <tr>
      <td colspan="7" class="border-0">
        <div class="text-right">
          <%= link_to 'お買い物を続ける', top_show_path, class:"btn btn-outline-primary" %>
          <%= f.submit '変更を保存する', class: 'btn btn-primary', name: 'page_save_update' %>
          <%= f.submit 'お会計手続きへ', class: 'btn btn-primary', name: 'page_next_update' %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>