<div class="text-center font-weight-bold mt-4"><h1>商品詳細</h1></div>
<table class="table baskets-table col-md-8 offset-2 baskets-edit-mobile">
  <tbody class="text-center">
    <tr>
      <td class="border-0 align-middle"><%= image_tag(employee_item_image_path(@item.id), width:'150px') %></td>
      <td class="border-0 align-middle">
      <div class="align-text-bottom text-center"><%= @item.name %>　価格<%= @product.price %>円</div>
       <div class="align-text-top text-center"><%= @item.info %></div>
      </td>
    </tr>
    <% @process.each do |process| %>
    <tr>
      <td><%= basketProcessProcessing(process.name) %></td>
      <td><%= link_to 'お買い物カゴへ', customer_baskets_path(id: @user.id, name: @item.name, process: process.name), class:"btn btn-outline-primary", method: :post %></td>
    
    </tr>
    <% end %>
    <tr>
      <td colspan="2">
      <%= link_to '戻るボタン', customer_user_path(@user), class:"btn btn-primary mt-4" %>
      </td>
    </tr>
  </tbody>
</table>
