<div class="row">
  <div class="col">
    <div class="col-md-10 offset-2" >
      <h2 class="center">会員の方</h2>
      <%= form_with(scope: :session, url: login_path, local: true) do |f| %>

        <%= f.label :email, class: "label-login" %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password, "パスワード", class: "label-login" %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :remember_me, class: "checkbox inline checkbox-login", for: "remember-me" do %>
          <%= f.check_box :remember_me, id: "remember-me" %>
          <span>ログイン情報を記憶する</span>
        <% end %>
        <div class="center">
          <%= f.submit "ログイン", class: "btn btn-primary btn-lg btn-login" %>
        </div>
      <% end %>    
    </div>
  </div>

  <div class="col">
    <div class="col-md-10 offset-2" >
      <h3 class="center">初めてご利用の方はこちら</h3>
        <div class="regist_btn">
          <%= link_to "登録ページ", new_customer_user_path, class: "btn btn-info btn-lg" %>
        </div>
    </div>
  </div>
</div>

