<%= link_to '新規登録', new_employee_item_path, class: 'btn btn-primary btn-lg mb-1' %>
<% if items.count >0 %>  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="bg-dark text-white font-weight-bold text-center">イメージ</th>
        <th class="bg-dark text-white font-weight-bold text-center">商品名</th>
        <th class="bg-dark text-white font-weight-bold text-center">カテゴリー</th>
        <th class="bg-dark text-white font-weight-bold text-center"></th>
      </tr>
    </thead>  
    <tbody>
    <% items.each do |item| %>
      <tr>
        <td><%= image_tag(employee_item_image_path(item.id),size:'80') %></td>
        <td class="font-weight-bold text-center w-25 align-middle"><%= item.name %></td>
        <td class="font-weight-bold text-center align-middle"><%= I18n.t("enums.item.status.#{item.category}") %></td>
        <td class="text-center align-middle">
          <%= link_to '編集', edit_employee_item_path(item), class: 'btn btn-primary btn-lg mr-3' %>
          <%= link_to '加工法編集', "#", class: 'btn btn-primary btn-lg mr-3' %>
          <%= link_to '削除', "#", class: 'btn btn-danger btn-lg' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
 <% else %> 
   <div class="p-5 bg-secondary text-center text-white font-weight-bold">まだ登録商品がありません。</div>
 <% end %>